body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f0f0f, #1d2837);
    position: relative;
    
}

.header-container {
    display: flex;
    align-items: center; 
    padding: 10px; 
    justify-content: space-between; 
}

.head-img {
    width: 200px;
    height: auto;
}

.head-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 50%  ;
}

nav {
    float: right; 
    margin-top: -150px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none; 
    color: #ece2e2; 
    font-weight: bold; 
    line-height: 50px; 
}

nav ul li a:hover {
    color: #4CAF50; 
}

.spaced {
    margin-bottom: 10px; 
}

.footer-txt {
    padding: 10px;
    text-align: center;
}

br {
    line-height: 1.5;
}

main p {
    background-color: rgba(0, 156, 247, 0.584);
    margin: 10px;
    border-radius: 20px;
    max-width: 600px;
    padding: 10px;
    width: fit-content; 
    box-sizing: border-box;
    color: #ece2e2;
}      

main h2 {
    background-color: rgba(0, 156, 247, 0.584);
    margin: 10px; 
    border-radius: 20px;
    max-width: 600px;
    padding: 10px;
    width: fit-content;
    box-sizing: border-box;
    color: #ece2e2;
}

main h3 {
    background-color: rgba(0, 156, 247, 0.584);
    margin: 10px;
    border-radius: 20px;
    max-width: 600px;
    width: fit-content; 
    box-sizing: border-box;
    padding: 10px;
    color: #ece2e2;
}

.dropdown {
    position: relative;
    display: inline;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn:hover {
    background-color: #45a049; 
}

.show {
    display: block;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(100px, 100px) rotate(360deg); 
    }
}

.lines {
    position: absolute; 
    width: 100px; 
    height: 4px; 
    background: rgba(76, 175, 80, 0.5); 
    z-index: -1; 
    transition: left 0.1s ease, top 0.1s ease; 
    animation: rotate 20s linear infinite; 
}

.lines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #4CAF50 25%, transparent 25%, transparent 50%, #4CAF50 50%, #4CAF50 75%, transparent 75%, transparent);
    background-size: 200% 100%;
    animation: move 1s linear infinite;
}

@keyframes move {
    0% {
        background-position: 200%, 0;
    }
    100% {
        background-position: 0 0;
    }
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(76, 175, 80, 0.5);
}
