body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #818589, #6082B6);
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

footer {
    background-color: #333; 
    padding: 20px; 
    text-align: center; 
    margin-top: 40px; 
}

.head-img {
    width: 200px;
    height: auto;
}

.head-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 50%  ;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 1rem;
}

nav ul li a {
    text-decoration: none; 
    color: inherit; 
}

.spaced {
    margin-bottom: 10px; 
}

.footer-txt {
    padding: 10px;
    text-align: center;
}

br {
    line-height: 1,5;
}

main p {
    background-color: rgba(0, 156, 247, 0.584) !important;
    margin: 10px;
    border-radius: 20px;
    max-width: 600px;
    padding: 10px;
    width: fit-content; 
    box-sizing: border-box;
}      

main h2 {
    background-color: rgba(0, 156, 247, 0.584)!important;
    margin: 10px; 
    border-radius: 20px;
    max-width: 600px;
    padding: 10px;
    width: fit-content;
    box-sizing: border-box;
}

main h3 {
    background-color: rgba(0, 156, 247, 0.584)!important;
    margin: 10px;
    border-radius: 20px;
    max-width: 600px;
    width: fit-content; 
    box-sizing: border-box;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn:hover {
    background-color: #45a049; /* Slightly darker green */
}

.show {
    display: block;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
}
